# MongoDB
DATABASE_URL=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/?appName=ultimate-planner-dev

# NextAuth
NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=http://localhost:3000

# Encryption
ENCRYPTION_KEY=your-32-byte-hex-key
